In [2]:
import seaborn as sns 
df=sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
import numpy as np
import matplotlib_inline as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

separte the indepdent and indepedetnt fetaures

In [ ]:
X=df["tip	sex	smoker	day	time	size"]

IndexingError: Too many indexers

In [9]:
Y=df.iloc[:,-1]
Y.head()

0    2
1    3
2    3
3    2
4    4
Name: size, dtype: int64

convert the categorical values into numerical values